.App {
    text-align: center;
}

.App-header {
    background-color: #222;
    height: 50px;
    padding: 20px;
    color: #c7cd47;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-bottom: 20px;
}

a {
    color: #428bca;
    text-decoration: none;
}

.wrapper{
    max-width: 1000px;
    display: flex;
    justify-content: center;
    background-color: #fff;
    margin: -20px auto;
}

.userList {
    flex: 1;
    padding: 20px;
}

.beerLookup {
    flex:1;
    min-height: calc(100vh - 100px);
    border-left: 1px solid black;
    padding: 20px;
}

.input {
    line-height: 30px;
    padding: 5px 10px;
    font-size: 24px;
    width: 300px;
    border: 2px solid #333;
    display: block;
    margin: 0 auto;
}

.displayResults {
    text-align: center;
    margin: 0 auto;
}

small {
    color: #777;
}

button {
    font-size: 18px;
    padding: 10px;
    width: 150px;
    margin-top: 10px;
    border-radius: 20px;
    background-color: #5bc0de;
    color: #fff;
    outline: none;
}

.beerLabel {
    display: block;
    margin: 20px auto;

}
