.App {
    text-align: center;
    background: #fff url('./background.jpg') center center no-repeat;
    background-size: cover;
    font-family: 'Bungee Hairline', sans-serif;
}

h1, h2 {
    font-family: 'Bungee', sans-serif;
}

small {
    font-family: 'Bungee Hairline', sans-serif;
}

.App-header {
    background-color: #222;
    height: 50px;
    padding: 20px;
    color: #c7cd47;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-bottom: 20px;
}

.Logo {
    font-family: 'Bungee Hairline', sans-serif;
}

a {
    color: #428bca;
    text-decoration: none;
}

.yellow {
    color: #c7cd47;
}

.wrapper{
    max-width: 1000px;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, .9);
    margin: -20px auto;
}

.userList {
    flex: 1;
    padding: 20px;
}

.beer-list {
    padding: 60px;
}

.beerLookup {
    flex:1;
    min-height: calc(100vh - 168px);
    padding: 20px;
}

.InputBox {
    line-height: 30px;
    padding: 5px 10px;
    font-size: 16px;
    width: 300px;
    border: 2px solid #333;
    display: block;
    margin: 0 auto;
    background-color: #222;
    outline: none;
    border-radius: 3px;
    color: #fff;
}

.DisplayResults {
    text-align: center;
    margin: 0 auto;
}

small {
    color: #777;
}

button {
    font-size: 18px;
    padding: 10px;
    width: 150px;
    margin: 10px;
    border-radius: 20px;
    background-color: #5bc0de;
    color: #fff;
    outline: none;
    font-family: 'Bungee Hairline', sans-serif;
}

.beerLabel {
    display: block;
    margin: 20px auto;
}

.TextBox {
    line-height: 30px;
    padding: 5px 10px;
    font-size: 14px;
    width: 300px;
    border: 2px solid #333;
    display: block;
    margin: -10px auto 0 auto;
    background-color: #222;
    outline: none;
    border-radius: 3px;
    color: #fff;
}

input::placeholder {
    text-align: center
}

.label {
    font-size: 16px;
    float: left;
    margin-right: 8px;
    font-family: 'Bungee', sans-serif;
}

.beer-notes {
    text-align: left;
    margin-top: -16px;
}

.rating-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.beerName {
    font-family: 'Bungee', sans-serif;
    border-bottom: 4px solid #d9c725;
}

footer {
    background-color: #222;
    max-width: 1000px;
    margin: 0 auto;
    color: #c7cd47;
    text-align: right;
    padding: 0 10px;
    box-sizing: border-box;
}
