.App {
    text-align: center;
    background: #222 url('./background.jpg') center center no-repeat;
    background-size: cover;
    font-family: 'Bungee Hairline', sans-serif;
}

h1, h2 {
    font-family: 'Bungee', sans-serif;
}

small {
    font-family: 'Bungee Hairline', sans-serif;
}

.hidden {
    display: none;
}

.App-header {
    background-color: #222;
    height: 50px;
    padding: 20px;
    color: #c7cd47;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-bottom: 20px;
}

.Logo {
    font-family: 'Bungee Hairline', sans-serif;
}

a {
    color: #428bca;
    text-decoration: none;
}

.yellow {
    color: #c7cd47;
}

.wrapper{
    max-width: 1000px;
    min-height: calc(100vh - 185px);
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, .9);
    margin: 0 auto -22px auto;
}

.Quote {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, .9);
    max-width: 1000px;
    margin: -20px auto 0 auto;
}

.userList {
    flex: 1;
    padding: 20px;
}

.beer-list {
    margin-top: -50px;
    padding: 60px;
}

.beerLookup {
    flex:1;
    /*min-height: 100vh;*/
    padding: 20px;
}

.InputBox {
    line-height: 30px;
    padding: 5px 10px;
    font-size: 16px;
    width: 300px;
    border: 2px solid #333;
    margin: 0 auto 20px auto;
    background-color: #222;
    outline: none;
    border-radius: 3px;
    color: #fff;
}

.DisplayResults {
    text-align: center;
    margin: 0 auto;
}

small {
    color: #777;
}

.Button {
    font-size: 18px;
    padding: 10px;
    min-width: 160px;
    margin: 15px;
    border-radius: 20px;
    background-color: #5bc0de;
    color: #fff;
    outline: none;
    font-family: 'Bungee Hairline', sans-serif;
}

form {
    position: relative;
}

.SearchButton {
    height: 44px;
    width: 44px;
    position: absolute;
    top: 0;
    right: 68px;
    border: none;
    border-left: 1px solid #222222;
    border-radius: 0 3px 3px 0;
    background-color: #5bc0de;
    color: #fff;
    outline: none;
}

.beerLookupBox {
    display: inline
}

.beerLabel {
    display: block;
    margin: 20px auto;
}

.TextBox {
    line-height: 30px;
    padding: 5px 10px;
    font-size: 14px;
    width: 300px;
    border: 2px solid #333;
    display: block;
    margin: -10px auto 0 auto;
    background-color: #222;
    outline: none;
    border-radius: 3px;
    color: #fff;
}

input::placeholder {
    text-align: center
}

.label {
    font-size: 16px;
    float: left;
    margin-right: 8px;
    font-family: 'Bungee', sans-serif;
}

.beer-notes {
    text-align: left;
    margin-top: -16px;
}

.rating-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pointer{
    cursor: pointer;
}

.beerName {
    font-family: 'Bungee', sans-serif;
    border-bottom: 4px solid #d9c725;
}

footer {
    background-color: #222;
    max-width: 1000px;
    margin: 0 auto;
    color: #c7cd47;
    text-align: right;
    padding: 0 10px;
    box-sizing: border-box;
}



/*Rating Slider*/

input[type=range]:focus {
  outline: none;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 20px 0px 15px 0;
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #222, 0px 0px 1px #222;
  background: #222;
  border-radius: 1.3px;
  outline: none;
   -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 26px;
  width: 10px;
  border-radius: 3px;
  background: #5bc0de;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}
